<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css.css">

</head>

<body>
  <div class="main">
    <form action="/api/users/login" method="post">
    <p class="sign" >Log in</p>
      <input type="email" class="un"  id="email" name = "email">
      <input class="pass" type="password "  id="password" name = "password">
      <input class="submit" type="submit" value="login"  >
      <p class="forgot" >Forgot Password?</p>
            
    </form>       
    </div>
     
</body>

</html>
